{% extends "base.html" %}

{% block title %} GAMESITOS HUB: Manage your collection games {% endblock %}


{% block header %} 
<img src="../static/img/navbar-image.png" class="rounded mx-auto d-block" alt="navbar-image" width="308" height="308">
<div class="container mb-3">
<h1 class="text-center">GAMESITOS HUB - MANAGE YOUR COLLECTION GAMES</h1>
</div>
{% endblock %}
{% block nav %} {% endblock %}


{% block contain %}
    <div class="container d-flex justify-content-center align-items-center p-4">
        <div class="bg-opacity-75 bg-primary p-2 rounded shadow border border-2 border-primary" style="max-width: 400px; width: 100%;">
            <form class="form-login" method="POST" action="/login">
                <div class="mb-3">
                    <input class="form-control form-control-lg border-1 border-info" placeholder="User" type="text" name="username" required>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg border-1 border-info" placeholder="Password" type="password" name="password" required>
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-success btn-lg mx-2">Log in</button>
                </div>
                {% if error %}
                <div class="mb-3"></div>
                    <p class="text-center">Error: {{error}}</p>
                </div>
            {% endif %}
            </form>
        </div>
    </div>
    

    <div class="container mt-5 bg-opacity-75 bg-primary p-1 rounded shadow border border-2 border-primary" style="width: 18%;">
        <div class="container mb-3">
            <h2 class="text-center">Default user</h2>
        </div>
        <div class="container mb-3">
            <h2 class="text-center">User: user</h2>
        </div>
        <div class="container mb-3">
            <h2 class="text-center">Password: admin</h2>
        </div>
    </div>
{% endblock %}
