{% extends "base.html" %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark p-3 fixed-top" style="height: 70px;">
        <div class="container">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-videogames">
                <span class="navbar-toggler-icon" ></span>
            </button>

            <a class="navbar-brand" href="/videogames">
                <img src="../static/img/navbar-image.png" alt="navbar-image" width="100" height="100">
            </a>

            <div class="collapse navbar-collapse" id="navbar-videogames">
                <ul class="nav justify-content-center nav-pills w-100">
                    <li class="nav-item">
                        <a href="/videogames" class="nav-link bg-outline-danger active">ALL GAMES</a>
                    </li>
                    <li class="nav-item">
                        <a href="/videogames/post-game" class="nav-link">ADD GAME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/videogames/update-game" class="nav-link">UPDATE GAME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/videogames/delete-game" class="nav-link">DELETE GAME</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a href="/logout" class="nav-link">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block contain %}
<div class="container" style="padding-bottom: 75px; padding-top: 80px;">
    <div class="row g-4">
        {% for videogame in videogames %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card shadow h-100 m-2 position-relative"  id="card-{{ loop.index }}">
                {% if videogame['favourite'] %}
                <div class="position-absolute" style="top: 10px; right: 10px;">
                    <img src="../static/img/2164197.png" alt="Favourite" class="img-fluid" style="width: 20px; height: 20px;">
                </div>
                {% endif %}
                
                <div class="card-body bg-dark text-white rounded-1 shadow-lg" >
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#update-form">UPDATE</button>
                    <h5 class="card-title text-center ">GAME {{ loop.index }}</h5>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark bg-opacity-75 text-white">Title: {{ videogame['title'] }}</li>
                        <li class="list-group-item bg-dark bg-opacity-75 text-white">My opinion: {{ videogame['my_opinion'] }}</li>
                        <li class="list-group-item bg-dark bg-opacity-75 text-white">My Score: {{ videogame['my_score'] }}</li>
                        {% if videogame['completed'] %}
                        <li class="list-group-item text-success fw-bold bg-dark bg-opacity-75">Completed</li>
                        {% else %}
                        <li class="list-group-item text-danger fw-bold bg-dark bg-opacity-75 ">Not completed</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% if videogames|length == 0 %}
    <div class="container mt-5">
        <p class="text-center fs-1">No games are found loaded</p>
    </div>
    <div class="container mt-5 text-center">
        <a href="/videogames/post-game"><button class="btn btn-primary shadow fw-bolder font-monospac">ADD GAME</button></a>
    </div>
{% endif %}
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/allgames.js') }}"></script>
{% endblock %}